GCP_PROJECT = "neo4j-field-engineering-apac"
GCP_LOCATION = "us-central1"
TUNED_CYPHER_MODEL = ""
NEO4J_HOST = "neo4j+s://e138db66.databases.neo4j.io"
NEO4J_PORT = "7687"
NEO4J_USER = "neo4j"
NEO4J_PASSWORD = "WQ-_qT98eDNvLtHjjjFfbiO3Jn7JvmLD-dAA-5_kv0Y"
NEO4J_DB = "neo4j"
